input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


*{
  margin: 0px;
  padding:0px;
  overflow-x: hidden;
  background-color: #1F557D;
}
.login-div{
  width:700px;
  border:1px solid gray;
  border-radius: 10px;
  height:420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.forgot-div{
  width:700px;
  border:1px solid gray;
  border-radius: 10px;
  height:300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.input{
  width:50%;
  height:50px;
  margin: auto;
}
/* Firefox */
.input[type=number] {
  --moz-appearance: textfield;
}
.link{
  font-size: 20px;
  font-weight: 600;
}

/* sidebar css code */
.sidebar.open {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
/* Sidebar closed state */
.sidebar.closed {
  transform: translateX(0);
}

/* Modify the existing classes */
.bars-open {
  margin-left:280px;
}

.bars-closed {
  margin-left: 0;
}
.list-style{
  text-decoration: none;
  font-size: 25px;
  color:rgb(103, 85, 85);
  font-weight: 100;
}
.sidebar-list{
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid orange;
  padding:10px 0px;
  text-decoration: none;
  background-color: transparent;
}


/* Other styles remain the same */
.icon {
  cursor: pointer;
  position: absolute;
  border-radius: 100px;
  background-color: transparent;
  z-index: 1;
  /* margin-left: 250px; */
}
.fa-bars{
  padding: 10px;
  height:50px;
  background-color: transparent;
}
.bg {
  height: 100vh;
  width: 300px;
  background-color: aliceblue;
  margin-left: -12px;
  position: fixed;
}
.sidebar ul{
  position: absolute;
  background-color: aliceblue;
}
ul>li{
  background-color: aliceblue;
  font-size: 20px;
  line-height: 3;
}
.footer {
  position: absolute; 
  bottom: 100px; 
  left: 30px; 
  background-color: orange;
}
.logout-btn{
  width:200px;
  height:60px;
  background-color: orange;
}
.footer p{
  font-size: 18px;
  position: absolute;
}
.bar{
  border:2px solid gray;
  height:62px;
  margin-top: 50px;
  border-radius: 10px;
  justify-content: space-between;
}
.first-box{
  border:2px solid gray;
  border-radius: 10px;
  width:600px;
  height:170px;
}
.second-box{
  margin-left:50px;
  border:2px solid gray;
  border-radius: 10px;
  height:500px;
  width:870px;
}
.site-fbox{
  border:2px solid gray;
  border-radius: 10px;
  min-height: auto;
  width:990px;
}
.site-sbox{
  margin-left:50px;
  border:2px solid gray;
  border-radius: 10px;
  width:480px;
  height:370px;
}
.activity-border{
  border-bottom:2px solid gray;
}
.image-avatar{
  width:100px;
  height:100px;
  background-color: orange;
}
.image-avatars{
  width:150px;
  height:150px;
  background-color: orange;
}
.site-boxes{
  background-color: rgb(8, 92, 131);
  border:2px solid rgb(128, 128, 128);
  height:200px;
  width:265px;
  border-radius: 10px;
}
.site-boxes>.site-paragraph,.site-span,.site-icon{
  background-color: rgb(8, 92, 131);
  padding: 15px;
}
.borders{
  border: 2px dashed gray;
}
.boxesInput{
  border:2px solid gray;
  border-radius: 10px;
  width:94%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default grid for 2x2 */
  gap: 10px;
  margin-top: 20px;
}

.grid-item {
  border:1px solid gray;
  border-radius: 5px;
}

.button-container {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.btn:hover {
  background-color: #27ae60;
}

/* mobile devices media query */
@media  screen and (max-width:480px) {
  .login-div{
    width:90%;
  }
  .input{
    width:90%;
  }
  .site-boxes{
    width:100%;
    margin-left: 0px !important;
  }
  .bar{
    margin-left: 0px !important;
    width: 93%;
  }
  .bar>.date{
    display: none;
  }
}
/*  ipad tablet media query*/
@media  screen and (max-width:768px) {
  .login-div{
    width:90%;
  }
  .input{
    width:90%;
  }
  .bars-open {
    margin-left: 0;
  }
  .bars-closed {
    margin-left: 0;
  }
}

/* small screen laptop */
@media  screen and (max-width:1024px) {

  .login-div{
    width:90%;
  }
  .input{
    width:90%;
  }
}
/* Desktop large screen */
@media  screen and (max-width:1360px) {
  .login-div{
    width:90%;
  }
  .input{
    width:90%;
  }
  .second-box{
    margin-left:0px !important;
    margin-top: 20px;
  }
  .site-sbox{
    margin-left:0px !important;
    margin-top: 20px;
  }
}
@media  screen and (max-width:1620px) {
  .second-box{
    margin-left:8px;
    height:500px;
    width:500px;
  }
  .site-sbox{
    margin-left:8px;
    height:500px;
    width:500px;
  }
}
